*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #f43543;
}
.wrapper{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container{
    width: 100%;
    background-color: #f43543;
    padding: 50px 40px;
    position: relative;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 20px 65px rgba(87, 11, 16, 0.5);
}
.container:after{
    width: 80%;
    position: absolute;
    content: "";
    height: 120%;
    background-color: #ffffff;
    z-index: -1;
    top: -10%;
    left: 10%;
}
.container p{
    line-height: 2;
    color: #fff8d8;
    font-size: 18px;
}
.container h3{
    margin: 30px 0 60px 0;
    font-weight: 600;
    text-transform: capitalize;
    color: #ffffff;
}
#btn{
    padding: 15px 45px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    color: #f43543;
    font-weight: 600;
    cursor: pointer;
}